
body{
        
}



.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    width: 100%;
    background-color: lightgrey;
}

.flex-title{
    margin: 100px;
}

.flex-item {
    background-color: cornflowerblue;
    width: 200px;
    height: 50px;
    margin-left: 40%;
    margin-right:40%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
}