
body{
     
}

a, p, h1,h2,h3{
    font-family: 'Old Standard TT', serif;   
}

p{
    font-size: 15px;
    font-style: italic;
}

.logo{
    font-family: 'Old Standard TT', serif;   
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    /*width: 100%;*/
    background-color: lightgrey;
}

.flex-title{
    margin: 100px;
    font-family: 'Old Standard TT', serif;
}

.flex-subtitle {
    font-family: 'Old Standard TT', serif;
    background-color: cornflowerblue;;
    width: 600px;
    margin-left: 30%;
    margin-right:30%;
    margin-top: 20px;
    font-size: 20px;
}

.flex-item {
    font-family: 'Old Standard TT', serif;
    background-color: lightgrey;;
    width: 600px;
    margin-left: 30%;
    margin-right:30%;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 20px;
}